<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto sequi repellat, laborum fugiat qui autem commodi rem sit soluta fuga, pariatur molestias? Eaque quod eligendi, assumenda reprehenderit explicabo earum nisi ipsam reiciendis quo nihil doloribus alias consectetur corporis repellat magni ex vero laboriosam aperiam nemo non odit? Unde aliquid quia nam est soluta earum cupiditate dolore nostrum quisquam tempore deserunt distinctio doloribus beatae aliquam molestias odio eveniet, iusto ex praesentium reprehenderit velit delectus suscipit sequi facere! Sit, quibusdam repudiandae.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusantium accusamus perspiciatis error quas maiores culpa omnis, animi nobis saepe aspernatur, dignissimos, maxime doloribus? Quis totam magnam aliquam nostrum quos eius dolorem reiciendis.</p><p>Suscipit nihil molestiae culpa laudantium eligendi minima amet debitis numquam, exercitationem omnis ex provident impedit optio voluptatum sint. Quasi, explicabo delectus quibusdam a similique perferendis tenetur suscipit quia culpa qui, corrupti distinctio quae minima quidem sint unde velit autem obcaecati, quam sed et perspiciatis. Repellendus, aliquam magnam voluptatum odio itaque iste tempore officiis repudiandae eligendi neque nihil assumenda ullam similique autem dolorum quae illum at ipsa explicabo!</p>

Post::create([
    'title' => 'Judul Ketiga',
    'category_id' => 3,
    'slug' => 'judul-ketiga',
    'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto sequi repellat, laborum fugiat qui autem commodi rem sit soluta fuga, pariatur molestias?',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto sequi repellat, laborum fugiat qui autem commodi rem sit soluta fuga, pariatur molestias? </p><p> Eaque quod eligendi, assumenda reprehenderit explicabo earum nisi ipsam reiciendis quo nihil doloribus alias consectetur corporis </p><p>Repellat magni ex vero laboriosam aperiam nemo non odit? Unde aliquid quia nam est soluta earum cupiditate dolore nostrum quisquam tempore deserunt distinctio doloribus beatae aliquam molestias odio eveniet, iusto ex praesentium reprehenderit velit delectus suscipit sequi facere! Sit, quibusdam repudiandae.</p>',
])

Category::create([
    'name' => "Personal",
    'slug' => "personal",
])